:root{
    --colortema:  rgb(68, 150, 10);
}

body , html{
    margin: 0;
    padding: 0;
    background-image: url('img/fondo2.jpg');
    background-size: cover;  /* Ajusta la imagen para que cubra toda la sección */
    background-position: center;  /* Centra la imagen en la sección */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    font-family: fantasy;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centrar{
    justify-items: center;
}

#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 6fr 1fr;
    min-height: 100vh;
}

header{
    font-size: 25px;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    font-family: sans-serif;
    font-style: oblique;
}

nav{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
}

section{
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    justify-items: center;
    align-content: center;
}

footer{
    grid-column: 1;
    grid-row: 4;
    width: 100%;
    text-align: center;
}

#divasidepaginafinal{
    justify-items: center;
    background-color: var(--colortema);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 300px;
    border-radius: 15px;
}

#textoheader,  #textofooter{
    background-color: var(--colortema);
    border-radius: 15px;
}

#botonColores, #botonreinicio{
    font-family: fantasy;
    background-color: var(--colortema);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    pointer-events: none;
}

h2{
    text-align: center;
}